@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold tracking-tight sm:text-5xl;
  }

  h2 {
    @apply text-2xl font-bold sm:text-3xl;
  }

  a {
    @apply underline transition hover:opacity-80;
  }

  pre {
    @apply p-6 overflow-x-auto rounded-lg;
  }

  :not(pre) > code {
    @apply px-1 py-0.5 font-mono rounded bg-[#f1f1f1] text-[#f67280];
    font-size: 0.9em;
  }

  body {
    background: url('/src/assets/images/Pops%20logo.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #f0f0f0; /* Fallback color for browsers that do not support background images */
  }
}

@layer components {
  .markdown > h1,
  .markdown > h2 {
    @apply mt-12 mb-6;
  }

  .markdown > p,
  .markdown > pre {
    @apply my-6;
  }

  .markdown > :first-child {
    @apply mt-0;
  }

  .markdown > :last-child {
    @apply mb-0;
  }

  .btn:disabled {
    @apply text-neutral-400 bg-neutral-700;
  }
}

